@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url(./assets/loginbg.png) no-repeat; */
    background-color: #333;
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
}

.header {

    /* color: #ffffff; */
    

    position: fixed; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 

    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.header h1 {
    font-size: 50px;
    text-align: center;
}

.wrapper {
    transform: translateY(-10%);
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px) saturate(80%);
    box-shadow: 0 0 10px rgba(0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    transition: 1s;
}

.wrapper:hover{
    backdrop-filter: blur(50px);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper label{
    position: relative;
    width: 100%;
    height: 50px;
}

.wrapper input{
    width: 100%;
    height : 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255,255,255);
    border-radius : 40px;
    font-size: 16px;
    padding: 20px 25px 20px 20px;
    color: #fff;
    transition: 1s;
}

.wrapper textarea{
    width: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255,255,255);
    border-radius : 40px;
    font-size: 16px;
    padding: 20px 25px 20px 20px;
    color: #fff;
    transition: 1s;
}

label input::placeholder{
    color: #fff;
}

label .icon {
    position: absolute;
    right: 20px;
    top : 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    transition: 1s;
}
.wrapper button:hover{
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    cursor:pointer;
    font-size: 18px;
    color: #333;
    
}